{% extends 'base.html' %}
{% block title %} <title>Register page</title> {% endblock title %}
{% block body %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show my-0" role="alert">
  <strong>Hello!</strong> {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    
{% endfor %}
<div class="container">
    <form action= 'register' method='POST'>
    {% csrf_token %}
        

        <div class="form-group">
            <label for="uname">Username</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter your Name" name="uname">
            <small id="unamehelp" class="form-text text-muted px-1">
                Your unique username must be less than 10 characters (only lowecase
                letters, numbers &amp; underscores
                allowed) with no spaces
            </small>
        </div>
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter your First Name" name="fname">
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Enter your Last Name" name="lname">
        </div>

        <div class="form-group">
            <label for="email">Your Email</label>
            <div class="mx-0">
                <div class="col-md-8 px-0">
                    <input type="email" class="form-control" id="email" placeholder="Enter your Email" name="email">
                    <small id="otpMessage" class="form-text"></small>
                </div>

            </div>

        </div>


        <div class="form-group">
            <label for="password">Choose a password</label>
            <input type="password" class="form-control" id="password" placeholder="Choose a password" name="password">
        </div>
        <div class="form-group">
            <label for="password2">Retype a password</label>
            <input type="password" class="form-control" id="password2" placeholder="Retype your password"
                name="password2">
        </div>

        <input type="hidden" name="path" value="/">
        <button type="submit" class="btn btn-danger mt-2">SignUp</button>
    </form>
</div>
{% endblock body %}